* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
        
}

body{
    background: linear-gradient(91.9deg, rgb(93, 248, 219) 27.8%, rgb(33, 228, 246) 67%);
    
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #263849;
}

#sidebar ul li  {
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}

#sidebar a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.img-logo {
    height: 50px;
    
}

nav {
    background: #263849;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}

.img-logo2{
    padding-left: 40px;
}

.img-logo2 img{
    height: 70px;
    width: 45px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    list-style: none;
    padding: 0 0 0 40px;
}

nav .nav-items li{
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: black;
}

nav form{
    display: flex;
    height: 40px;
    border-radius: 2px;
    padding: 2px;
    background: #263849;
    min-width: 18%!important;
    border: 1px solid rgba(155, 155, 155,0.2);
}

nav form .search-data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 17px;
}

nav form button {
    padding: 0 15px;
    background: black;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border-radius: 2px;
}
.Busqueda{
    background:#fff;
    color: #fff;
}
.Busqueda button{
    background:#fff;   
}